*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

aside {
    width: 40%;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 5px solid red; - Required to view the element easily*/ 
}

main {
    width: 60%;
    /* border: 5px solid red; - Required to view the element easily*/ 
}

