@font-face {
    font-family: 'NorseBold';
    font-style: normal;
    font-weight: normal;
    src: local('Tangerine'), url('fonts/Norse-Bold.otf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

aside {
    width: 40%;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 5px solid red; - Required to view the element easily*/ 
}

main {
    width: 60%;
    /* border: 5px solid red; - Required to view the element easily*/ 
}

#logo-container{
    margin-top: 20%;
    background-color: black;
}

img{
    height: 12em;
}

